/*
* Copyright 2010-2011 Fabric Technologies Inc. All rights reserved.
*/

html,body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow:hidden;
}

/* INSPECTOR
-------------------------------------------------------------------- */

#nodeInspector {
  overflow:auto;
}

#nodeInspector section {
  margin:15px 20px;
/*  text-shadow:0 1px 0 white;*/
}

#nodeInspector .ui-buttonset .ui-button {
  padding: 0 10px;
}

#nodeInspector .dataTables_wrapper {
  background: #fff;
}

/* DEBUGGER
-------------------------------------------------------------------- */

#graph{
  position:absolute;
  left:0;
  right:251px;
  top:0;
  bottom:0;
  background: #d3d3d3;
}

rect.EditorButton {
  fill:#808080;
  stroke:white;
  stroke-opacity:0.85;
  stroke-width:0.5;
}

rect.EventCatcher {
  fill-opacity:0.0;
  stroke-opacity:0.0;
}

circle.EventCatcher {
  fill-opacity:0.0;
  stroke-opacity:0.0;
  stroke-width:0.0;
}

rect.Shadow {
  fill-opacity:0.25;
  stroke-opacity:0;
  stroke-width:0;
}

circle.Shadow {
  fill-opacity:0.25;
  stroke-opacity:0.25;
}

g.Pressed {
  stroke:white;
  stroke-width:2.5;
}

g.Button {
  stroke:black;
  stroke-opacity:0.75;
  stroke-width:0.5;
}

text.ButtonLabel {
  font-family:Helvetica;
  font-size:8pt;
  font-weight:normal;
  text-anchor:middle;
  fill: black;
  fill-opacity:1.0;
  stroke-opacity:0.0;
  cursor:default;
}


/* ===================================================== */
/* Nodes */

rect.Node {
  stroke:black;
  stroke-opacity:0.75;
  stroke-width:0.75;
  fill-opacity:0.75;
}

text.NodeLabel {
  font-family:Helvetica;
  font-size:8pt;
  font-weight:normal;
  fill: black;
  fill-opacity:1.0;
  stroke-opacity:0.0;
  cursor:move;
}


/* ===================================================== */
/* Ports */

text.PortLabel {
  font-family:Helvetica;
  font-size:7pt;
  font-weight:normal;
  fill: black;
  fill-opacity:1.0;
  stroke-opacity:0.0;
  cursor:move;
}

circle.DFGNodePort {
  fill-opacity:0.95;
  stroke-opacity:0.4;
  stroke:black;
  stroke-width:1;
}

circle.Highlighted {
  stroke:white;
  stroke-opacity:0.6;
}


/* ===================================================== */
/* Operators */
rect.Operator {
  stroke:black;
  stroke-opacity:0.75;
  stroke-width:0.5;
  fill-opacity:0.75;
}

/* ===================================================== */
/* Events */

text.EventOperatorLabel {
  font-family:Helvetica;
  font-size:5pt;
  font-weight:normal;
  fill: black;
  fill-opacity:1.0;
  stroke-opacity:0.0;
  cursor:move;
}
rect.EventOperator {
  stroke:black;
  stroke-opacity:0.75;
  stroke-width:0.5;
  fill-opacity:1.0;
}

/* ===================================================== */
/* Connections */


path.LineCore {
  fill: none;
  stroke-opacity:1.0;
  stroke-width:2.5;
}

path.LineBorder {
  fill: none;
  stroke:black;
  stroke-opacity:0.6;
  stroke-width:3.5;
}

path.EventCatcher {
  fill: none;
  stroke:black;
  stroke-opacity:0.0;
  stroke-width:10;
}

path.Highlighted {
  stroke:white;
}



/* ===================================================== */
/* Highlighting */

rect.Highlighted {
  stroke:white;
  stroke-opacity:0.85;
  stroke-width:0.75;
}

g.Highlighted {
  stroke:white;
}
