
/*
 *  Copyright 2010-2011 Fabric Technologies Inc. All rights reserved.
 */

html, body{
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
	overflow: hidden;	/* Remove scroll bars on browser window */
	background-color: #333333;
	font-family: Arial;
	font: Arial;
	color: #bcbcbc;
}
#header { padding: 0px; }

h1{
	font: Arial;
	font-size: 20px;
	color: #dddddd;
	padding-left: 10px;
}

h2{
	font: Arial;
	font-size: 16px;
	color: #dddddd;
	margin: 5px;
}

#MySplitter {
	border-top: 3px solid #bcbcbc;
	min-width: 500px;	/* Splitter can't be too thin ... */
	min-height: 300px;	/* ... or too flat */
	height: 100%;
}
#LeftPane{
	width: 150px;
}
#RightPane {
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	padding:0px;
	padding-left: 5px;
}
#RightPaneTable {
	width: 120px;
}
#TopPane {				/* Top nested in right pane */
	height: 500px;		/* Initial height */
	min-height: 100px;	/* Minimum height */
	background-color: #777777;
}
#BottomPane {
	overflow: inherit;
	padding:5x;
}
#BottomPaneTable {
	width: 97%;
	table-layout: fixed;
	/*background-color: #FF0000;*/
}

ul {
	list-style-type: circle;
	list-style-position: outside;
}

th {
	font: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #dddddd;
	margin: 0px;
	width: 120px;
	vertical-align: top;
	text-align: right;
	border: dashed;
	border-width: 1px;
	border-color: #888888;
}

td {
	font: Arial;
	font-size: 14px;
	color: #dddddd;
	width: 100%;
	border: dashed;
	border-width: 1px;
	border-color: #888888;
}

select, input {
	width: 200px;
}

textarea {
	width: 800px;
	height: 300px;
}

a:hover{
	color:#ff0000;
}
a:link, a:visited{
	color:#dddddd;
}

.ui-state-default { background-color: #bcbcbc }
.ui-state-hover { background-color: #FFFFFF }
.ui-state-highlight { background-color: #bcbcbc }
.ui-state-error { background-color: #eaa }

.splitter-pane {
	overflow-x: hidden;
	overflow-y: scroll;
}
.splitter-bar-vertical {
	width: 6px;
}
.splitter-bar-horizontal {
	height: 6px;
}
.splitter-bar.ui-state-highlight {
	opacity: 0.7;
}
.splitter-iframe-hide {
	visibility: hidden;
}

.sourceCode-error {
	color: #FF0000;
}

.sourceCode-warning {
	color: #FFFF00;
}
